.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

@media (max-width: 780px) {
  .breadcrum {
    font-size: 11px;
  }
}

@media (max-width: 450px) {
  .breadcrum {
    font-size: 9px;
    gap: 4px;
  }

  .breadcrum img {
    height: 8px;
    width: 5px;
  }
}
